#popup {
    display: none;
    position: fixed;
    width: 40%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#popup div {
    display: block;
    margin-bottom: 10px;
}

#popup div label input {
    display: block;
    width: 100%;
}

#button-description {
    display: block;
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
    outline: none;
}

#popup-buttons {
    position: absolute;
    bottom: 10%;
    right: 45%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}