.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
}

.footer #link a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}