* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 998;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 12px;
}
.menu{
    border: none;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
}
.btn-1{
    border: none;
    background-color: white;
    font-family: Sana, serif;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;

}

.header-center{
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input{
    padding: 8px 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.search-btn{
    padding: 8px 14px;
    border: 1px solid #000;
    background: white;
    cursor: pointer;
    border-radius: 6px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 14px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn span {
  margin-left: 4px;
  margin-top: 4px;
}

.avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}