.container{
    display: flex;
    gap: 24px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px;
}

.main-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 90px;
    transition: transform 0.3s ease;
    border: 1px;
    width: 220px;
    flex-shrink: 0;
    flex:1;
}
.main-left.hidden{
    transform: translateX(-100%);
}