.container{
    display: flex;
    height: 100%;
}

.main-left{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 90px;
    transition: transform 0.3s ease;
    border-right: 1px solid lightgray;
    width: 200px;
}


.main-left.hidden{
    transform: translateX(-100%);
}

@media(max-width:900px){
    .main-left{
        width: 150px;
    }
}

@media(max-width:400px){
    .main-left{
        width: 100px;
    }
}