.container{
    display: flex;
}

.main-left{
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 90px;
    transition: transform 0.3s ease;
    border-right: 1px solid lightgray;
    width: 220px;
}
.main-left.hidden{
    transform: translateX(-100%);
}

