.mainbody{
    display: flex;
    gap: 24px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px;
    flex:2;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.tab{
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: #aaa;
    padding-bottom: 6px;
}
.tab.active{
    color:#000;
    font-weight: 600;
    border-bottom: 2px solid #000;
}
.tab:hover{
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    padding-bottom: 6px;
}
.news-card{
    background: #fff;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 24px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.news-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.news-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.
}
.news-text {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 16px;
}
.news-meta{
    font-size: 14px;
    color: #888;
}

.last-published{
    position: sticky;
    top: 90px;
    background: #fff;
    border-radius: 16px;
    padding: 20px 40px;
    border: 1px solid rgba(0,0,0,0.06);
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.lp-title{
    font-size: 16px;
    font-weight:600;
    margin-bottom: 16px;;
}

.lp-item{
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-bottom: 16px;
    align-items: start;
}

.lp-item img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.lp-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.lp-info strong {
  font-size: 14px;
}

.lp-info span {
  font-size: 13px;
  color: #666;
}

.lp-info small {
  font-size: 12px;
  color: #999;
}