.mainbody-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
    flex:2;
}

.card-title{

    font-size: 48px;
    font-weight: bold;
}

.card-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card-author #follow-button {
    background-color: transparent;;
    border: 1px solid lightgray;
    border-radius: 2rem;
    height: 2rem;
    width: 4rem;
}

.card-author #follow-button:hover {
    background-color: dimgray;
    color: white;
    border:none;
}

.card-info {
    display: flex;

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 16px 0;
}

.like-comm{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.inside-like-comm {
    display: flex;
    gap: 5px;
}

#small-svg {
    height: 16px;
    width: 16px;
}

.like-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}