.mainbody-card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px;
    flex:2;
}

.card-title{

    font-size: 48px;
    font-weight: bold;
}