.mainbody{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    padding: 24px;
    justify-content: normal;
    transition: transform 0.3s ease;
}

.mainbody.hidden{
    transform: translateX(-5%);
}

.maincontainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60%;
    margin: 0 auto;
}

.card-title{
    font-size: 48px;
    font-weight: bold;
}

.card-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 16px 0;
    border-bottom: 1px solid lightgray;

}

.card-author #follow-button {
    background-color: transparent;;
    border: 1px solid lightgray;
    border-radius: 2rem;
    height: 2rem;
    width: 4rem;
}

.card-author #follow-button:hover {
    background-color: dimgray;
    color: white;
    border:none;
}

.card-info {
    display: flex;

    border-bottom: 1px solid lightgray;
    padding: 16px 0;
}

.like-comm{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.inside-like-comm {
    display: flex;
    gap: 5px;
}

#small-svg {
    height: 16px;
    width: 16px;
}

#small-svg-flip {
    height: 16px;
    width: 16px;
    transform: scaleY(-1);
}

.like-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.card-content{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    padding: 32px 0;
}



.card-comms-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-input {
    border: none;
    background-color: lightgray;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0 1rem;
}

.comms-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 3px solid lightgray;
}